-- Spike 002 prototype: master = dummy reservoir well + extended NETWORK
-- trunk with real VFP pressure drop + GSATPROD satellite group feeding the
-- same manifold. Question: does satellite flow load the trunk and raise
-- back-pressure on the simulated well?
RUNSPEC
TITLE
  NETWORK MASTER SPIKE
DIMENS
  5 1 1 /
OIL
WATER
GAS
DISGAS
METRIC
START
  1 JAN 2024 /
TABDIMS
  1 1 /
EQLDIMS
  1 /
WELLDIMS
  1 2 4 3 /
NETWORK
  5 4 /
VFPPDIMS
  5 5 2 2 1 2 /
UNIFIN
UNIFOUT

GRID
INIT
DX
  5*200 /
DY
  5*200 /
DZ
  5*20 /
TOPS
  5*2000 /
PORO
  5*0.25 /
PERMX
  5*300 /
PERMY
  5*300 /
PERMZ
  5*30 /

PROPS
PVTO
  20.0   50.0 1.15 1.50 /
  50.0  150.0 1.25 1.20 /
  90.0  250.0 1.35 1.00
        400.0 1.33 1.10 /
/
PVDG
   50.0 0.024 0.015
  150.0 0.008 0.018
  400.0 0.003 0.025 /
PVTW
  300.0 1.02 4.3E-5 0.50 0.0 /
ROCK
  300.0 5.0E-5 /
DENSITY
  850.0 1010.0 1.0 /
SWOF
  0.20 0.000 1.000 0.0
  0.50 0.066 0.300 0.0
  0.80 0.265 0.010 0.0
  1.00 0.470 0.000 0.0 /
SGOF
  0.00 0.000 1.000 0.0
  0.40 0.150 0.200 0.0
  0.75 0.400 0.000 0.0
  0.80 0.500 0.000 0.0 /

SOLUTION
EQUIL
  2010 350.0 3000.0 0.0 1500.0 0.0 1 1* 0 /
RSVD
  2000.0 90.0
  3000.0 90.0 /

SUMMARY
FPR
FOPR
WOPR
  'M-P1' /
WBHP
  'M-P1' /
WTHP
  'M-P1' /
GOPR
  'SAT' /
GPR
  'PLAT' 'MANIFOLD' /
RUNSUM

SCHEDULE
INCLUDE
  'vfp_tables.inc' /
GRUPTREE
  'PLAT' 'MANIFOLD' /
  'SAT' 'MANIFOLD' /
  'MANIFOLD' 'FIELD' /
/
WELSPECS
  'M-P1' 'PLAT' 2 1 2010.0 'OIL' /
/
COMPDAT
  'M-P1' 2 1 1 1 'OPEN' 1* 1* 0.2 1* 0.0 1* 'Z' /
/
WCONPROD
  'M-P1' 'OPEN' 'ORAT' 200.0 3* 1* 50.0 10.0 1 /
/
GSATPROD
  'SAT' __SAT_OIL_SM3D__ 5.0 __SAT_GAS_SM3D__ /
/
BRANPROP
  'PLAT' 'MANIFOLD' 9999 /
  'SAT' 'MANIFOLD' 9999 /
  'MANIFOLD' 'FIELD' 2 /
/
NODEPROP
  'FIELD' 20.0 /
  'MANIFOLD' /
  'PLAT' /
  'SAT' /
/
TSTEP
  1 /
END
