-- Two-way Flow NETWORK master: no prescribed external sources.
-- Model A and Model B are both real restartable reservoir slaves.
-- Their latest rates are rendered as four network slot wells; the resulting
-- network pressures return to both slaves for the next fixed-point iteration.
RUNSPEC
TITLE
  OPM FLOW TWO-WAY NETWORK MASTER
DIMENS
  5 1 1 /
OIL
WATER
GAS
DISGAS
METRIC
START
  1 JAN 2024 /
TABDIMS
  1 1 /
EQLDIMS
  1 /
WELLDIMS
  4 1 2 4 /
NETWORK
  3 2 /
VFPPDIMS
  5 5 2 2 3 2 /
UNIFIN
UNIFOUT

GRID
INIT
DX
  5*4000 /
DY
  5*4000 /
DZ
  5*400 /
TOPS
  5*2000 /
PORO
  5*0.25 /
PERMX
  5*300 /
PERMY
  5*300 /
PERMZ
  5*30 /

PROPS
PVTO
  20.0   50.0 1.15 1.50 /
  50.0  150.0 1.25 1.20 /
  90.0  250.0 1.35 1.00
        400.0 1.33 1.10 /
/
PVDG
   50.0 0.024 0.015
  150.0 0.008 0.018
  400.0 0.003 0.025 /
PVTW
  300.0 1.02 4.3E-5 0.50 0.0 /
ROCK
  300.0 5.0E-5 /
DENSITY
  850.0 1010.0 1.0 /
SWOF
  0.20 0.000 1.000 0.0
  0.50 0.066 0.300 0.0
  0.80 0.265 0.010 0.0
  1.00 0.470 0.000 0.0 /
SGOF
  0.00 0.000 1.000 0.0
  0.40 0.150 0.200 0.0
  0.75 0.400 0.000 0.0
  0.80 0.500 0.000 0.0 /

SOLUTION
EQUIL
  2010 350.0 3000.0 0.0 1500.0 0.0 1 1* 0 /
RSVD
  2000.0 90.0
  3000.0 90.0 /

SUMMARY
FPR
WOPR
  'A-P1' 'A-P2' 'B-P1' 'B-P2' /
WWPR
  'A-P1' 'A-P2' 'B-P1' 'B-P2' /
WBHP
  'A-P1' 'A-P2' 'B-P1' 'B-P2' /
WTHP
  'A-P1' 'A-P2' 'B-P1' 'B-P2' /
GPR
  'PLAT' 'MANIFOLD' /
RUNSUM

SCHEDULE
INCLUDE
  'vfp_tables_master.inc' /
GRUPTREE
  'PLAT' 'MANIFOLD' /
  'MANIFOLD' 'FIELD' /
/
WELSPECS
  'A-P1' 'PLAT' 2 1 2010.0 'OIL' /
  'A-P2' 'PLAT' 4 1 2010.0 'OIL' /
  'B-P1' 'PLAT' 1 1 2010.0 'OIL' /
  'B-P2' 'PLAT' 3 1 2010.0 'OIL' /
/
COMPDAT
  'A-P1' 2 1 1 1 'OPEN' 1* 1* 0.2 1* 0.0 1* 'Z' /
  'A-P2' 4 1 1 1 'OPEN' 1* 1* 0.2 1* 0.0 1* 'Z' /
  'B-P1' 1 1 1 1 'OPEN' 1* 1* 0.2 1* 0.0 1* 'Z' /
  'B-P2' 3 1 1 1 'OPEN' 1* 1* 0.2 1* 0.0 1* 'Z' /
/
BRANPROP
  'PLAT' 'MANIFOLD' 9999 /
  'MANIFOLD' 'FIELD' 3 /
/
NODEPROP
  'FIELD' 20.0 /
  'MANIFOLD' /
  'PLAT' /
/
WCONPROD
  'A-P1' 'OPEN' 'ORAT' __Y1_A_P1_ORAT__ 3* 1* 50.0 10.0 1 /
  'A-P2' 'OPEN' 'ORAT' __Y1_A_P2_ORAT__ 3* 1* 50.0 10.0 1 /
  'B-P1' 'OPEN' 'ORAT' __Y1_B_P1_ORAT__ 3* 1* 50.0 10.0 2 /
  'B-P2' 'OPEN' 'ORAT' __Y1_B_P2_ORAT__ 3* 1* 50.0 10.0 2 /
/
TSTEP
  366 /
WCONPROD
  'A-P1' 'OPEN' 'ORAT' __Y2_A_P1_ORAT__ 3* 1* 50.0 10.0 1 /
  'A-P2' 'OPEN' 'ORAT' __Y2_A_P2_ORAT__ 3* 1* 50.0 10.0 1 /
  'B-P1' 'OPEN' 'ORAT' __Y2_B_P1_ORAT__ 3* 1* 50.0 10.0 2 /
  'B-P2' 'OPEN' 'ORAT' __Y2_B_P2_ORAT__ 3* 1* 50.0 10.0 2 /
/
TSTEP
  365 /
WCONPROD
  'A-P1' 'OPEN' 'ORAT' __Y3_A_P1_ORAT__ 3* 1* 50.0 10.0 1 /
  'A-P2' 'OPEN' 'ORAT' __Y3_A_P2_ORAT__ 3* 1* 50.0 10.0 1 /
  'B-P1' 'OPEN' 'ORAT' __Y3_B_P1_ORAT__ 3* 1* 50.0 10.0 2 /
  'B-P2' 'OPEN' 'ORAT' __Y3_B_P2_ORAT__ 3* 1* 50.0 10.0 2 /
/
TSTEP
  365 /
END
